xfire-generator/src/wsdl/auth.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:ns1="urn:xfire:authenticate:fault" 
  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" 
  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" 
  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
  xmlns:tns="urn:xfire:authenticate"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="urn:xfire:authenticate">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:xfire:authenticate" elementFormDefault="qualified" attributeFormDefault="qualified">
      <xsd:element name="authenticate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1" />
            <xsd:element name="in1" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authenticateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema targetNamespace="urn:xfire:authenticate:fault" elementFormDefault="qualified" attributeFormDefault="qualified">
      <xsd:element name="AuthenticationFault">
        <xsd:complexType >
          <xsd:sequence>
            <xsd:element name="errorCode" type="xsd:int" minOccurs="0" />
            <xsd:element name="message" type="xsd:string" minOccurs="0" nillable="true" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="authenticateResponse">
    <wsdl:part element="tns:authenticateResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="authenticateRequest">
    <wsdl:part element="tns:authenticate" name="parameters" />
  </wsdl:message>
  <wsdl:message name="AuthenticationFault">
    <wsdl:part element="ns1:AuthenticationFault" name="AuthenticationFault" />
  </wsdl:message>
  <wsdl:portType name="AuthServicePortType">
    <wsdl:operation name="authenticate">
      <wsdl:input message="tns:authenticateRequest" name="authenticateRequest" />
      <wsdl:output message="tns:authenticateResponse" name="authenticateResponse" />
      <wsdl:fault message="tns:AuthenticationFault" name="AuthenticationFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthServiceHttpBinding" type="tns:AuthServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="authenticate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="authenticateRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="authenticateResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationFault">
        <wsdlsoap:fault name="AuthenticationFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port binding="tns:AuthServiceHttpBinding" name="AuthServiceHttpPort">
      <wsdlsoap:address location="http://localhost/services/AuthService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>