xfire-generator/src/wsdl/echoHeader.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
   xmlns:tns="http://xfire.codehaus.org/test/echo" 
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://xfire.codehaus.org/test/echo" name="Echo">

  <wsdl:message name="echoRequest">
    <wsdl:part name="text" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part name="text" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="echoRequestHeader">
    <wsdl:part name="headerText" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="echoResponseHeader">
    <wsdl:part name="headerText" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="EchoPortType">
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoRequest" name="echoRequest"/>
      <wsdl:output message="tns:echoResponse" name="echoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoHttpBinding" type="tns:EchoPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="echo">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="echoRequest">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:echoRequestHeader" use="literal" part="headerText"/>
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <wsdlsoap:body use="literal"/>
        <wsdlsoap:header message="tns:echoRequestHeader" use="literal" part="headerText"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Echo">
    <wsdl:port binding="tns:EchoHttpBinding" name="EchoHttpPort">
      <wsdlsoap:address location="http://localhost:8080/Echo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
