xfire-generator/src/wsdl/echoFault.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" 
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
 xmlns:tns="urn:xfire:echo:fault"
 xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 targetNamespace="urn:xfire:echo:fault" name="EchoFault">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:xfire:echo:fault" elementFormDefault="qualified" attributeFormDefault="qualified">
      <xsd:element name="echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EchoFault" type="tns:EchoFault" />
      <xsd:complexType name="EchoFault">
        <xsd:sequence>
          <xsd:element name="customMessage" type="xsd:string" nillable="true" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="echoRequest">
    <wsdl:part element="tns:echo" name="parameters" />
  </wsdl:message>
  <wsdl:message name="echoException">
    <wsdl:part element="tns:EchoFault" name="EchoFault" />
  </wsdl:message>
  <wsdl:message name="otherEchoException">
    <wsdl:part element="tns:EchoFault" name="OtherEchoFault" />
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters" />
  </wsdl:message>
  <wsdl:portType name="EchoWithFaultPortType">
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoRequest" name="echoRequest" />
      <wsdl:output message="tns:echoResponse" name="echoResponse" />
      <wsdl:fault message="tns:echoException" name="EchoFault" />
      <wsdl:fault message="tns:otherEchoException" name="OtherEchoFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoWithFaultHttpBinding" type="tns:EchoWithFaultPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="echo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="echoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EchoFault">
        <wsdlsoap:fault name="EchoFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="OtherEchoFault">
        <wsdlsoap:fault name="OtherEchoFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoWithFault">
    <wsdl:port binding="tns:EchoWithFaultHttpBinding" name="EchoWithFaultHttpPort">
      <wsdlsoap:address location="http://localhost/services/EchoWithFault" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
