xfire-generator/src/wsdl/wsdl-xfire-503.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://xfire.codehaus.org/examplewsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://xfire.codehaus.org/exampleservice" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://xfire.codehaus.org/exampleservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://xfire.codehaus.org/exampleservice">
      <s:import namespace="http://xfire.codehaus.org/examplewsdl" />

      <s:element name="PartyType" nillable="true" type="s2:PartyType" />
      <s:element name="GetPartyByPartyIDRequest" type="tns:GetPartyByPartyIDRequest" />
      <s:complexType name="GetPartyByPartyIDRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PartyID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPartyByPartyIDResult" type="tns:GetPartyByPartyIDResponse" />
      <s:complexType name="GetPartyByPartyIDResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Party" type="s2:PartyType" />
        </s:sequence>
      </s:complexType>
    </s:schema>

    <s:schema elementFormDefault="qualified" targetNamespace="http://xfire.codehaus.org/examplewsdl">
      <s:complexType name="PartyType" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserDefinedName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectID" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="GetPartyByPartyIDSoapIn">
    <wsdl:part name="request" element="tns:GetPartyByPartyIDRequest" />
  </wsdl:message>
  <wsdl:message name="GetPartyByPartyIDSoapOut">
    <wsdl:part name="GetPartyByPartyIDResult" element="tns:GetPartyByPartyIDResult" />
  </wsdl:message>

  <wsdl:portType name="MyServiceSoap">
    <wsdl:operation name="GetPartyByPartyID">
      <wsdl:input message="tns:GetPartyByPartyIDSoapIn" />
      <wsdl:output message="tns:GetPartyByPartyIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="MyServiceSoap" type="tns:MyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetPartyByPartyID">
      <soap:operation soapAction="http://xfire.codehaus.org/exampleservice/GetPartyByPartyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="MyService">
    <!--<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">MyServiceService</documentation>-->
    <wsdl:port name="MyServiceSoap" binding="tns:MyServiceSoap">
      <soap:address location="http://127.0.0.1/services/MyService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>