xfire-generator/src/wsdl/wwcarsXMLInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCountries">
        <s:complexType/>
      </s:element>
      <s:element name="GetCountriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountriesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountryID" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocationsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupplierTerms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="RateID" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupplierTermsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSupplierTermsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarAvailabilityByAirport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PickupAirport" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PickupDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DropoffDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PickupTime" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DropoffTime" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarAvailabilityByAirportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CarAvailabilityByAirportResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarAvailabilityByTownCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PickupTownCity" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PickupDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DropoffDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PickupTime" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DropoffTime" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarAvailabilityByTownCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CarAvailabilityByTownCityResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarAvailabilityByLocationID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PickupLocationID" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="DropoffLocationID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="PickupDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DropoffDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PickupTime" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DropoffTime" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarAvailabilityByLocationIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CarAvailabilityByLocationIDResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="ZoneID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="ZoneCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SupplierCode" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="PickupLocationID" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="DropoffLocationID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="PickupDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DropoffDate" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PickupTime" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DropoffTime" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="DriverAge" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="FlightNumber" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CarCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CarDescription" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="RateID" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="GrossAmount" type="s:decimal"/>
            <s:element minOccurs="1" maxOccurs="1" name="DiscountAmount" type="s:decimal"/>
            <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DriverTitle" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DriverInitial" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DriverLastName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="IsExcessRefundPolicy" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="IsOnRequest" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="IsConfirmed" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlaceBookingResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookingNumber" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmationKey" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmBookingResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCountriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountries"/>
  </wsdl:message>
  <wsdl:message name="GetCountriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocations"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocationsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSupplierTermsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSupplierTerms"/>
  </wsdl:message>
  <wsdl:message name="GetSupplierTermsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSupplierTermsResponse"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByAirportSoapIn">
    <wsdl:part name="parameters" element="tns:CarAvailabilityByAirport"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByAirportSoapOut">
    <wsdl:part name="parameters" element="tns:CarAvailabilityByAirportResponse"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByTownCitySoapIn">
    <wsdl:part name="parameters" element="tns:CarAvailabilityByTownCity"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByTownCitySoapOut">
    <wsdl:part name="parameters" element="tns:CarAvailabilityByTownCityResponse"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByLocationIDSoapIn">
    <wsdl:part name="parameters" element="tns:CarAvailabilityByLocationID"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByLocationIDSoapOut">
    <wsdl:part name="parameters" element="tns:CarAvailabilityByLocationIDResponse"/>
  </wsdl:message>
  <wsdl:message name="PlaceBookingSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceBooking"/>
  </wsdl:message>
  <wsdl:message name="PlaceBookingSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="ConfirmBookingSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmBooking"/>
  </wsdl:message>
  <wsdl:message name="ConfirmBookingSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmBookingResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCountriesHttpGetIn"/>
  <wsdl:message name="GetCountriesHttpGetOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsHttpGetIn">
    <wsdl:part name="CountryID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsHttpGetOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetSupplierTermsHttpGetIn">
    <wsdl:part name="LocationID" type="s:string"/>
    <wsdl:part name="RateID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetSupplierTermsHttpGetOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByAirportHttpGetIn">
    <wsdl:part name="PickupAirport" type="s:string"/>
    <wsdl:part name="PickupDate" type="s:string"/>
    <wsdl:part name="DropoffDate" type="s:string"/>
    <wsdl:part name="PickupTime" type="s:string"/>
    <wsdl:part name="DropoffTime" type="s:string"/>
    <wsdl:part name="Currency" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByAirportHttpGetOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByTownCityHttpGetIn">
    <wsdl:part name="PickupTownCity" type="s:string"/>
    <wsdl:part name="PickupDate" type="s:string"/>
    <wsdl:part name="DropoffDate" type="s:string"/>
    <wsdl:part name="PickupTime" type="s:string"/>
    <wsdl:part name="DropoffTime" type="s:string"/>
    <wsdl:part name="Currency" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByTownCityHttpGetOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByLocationIDHttpGetIn">
    <wsdl:part name="PickupLocationID" type="s:string"/>
    <wsdl:part name="DropoffLocationID" type="s:string"/>
    <wsdl:part name="PickupDate" type="s:string"/>
    <wsdl:part name="DropoffDate" type="s:string"/>
    <wsdl:part name="PickupTime" type="s:string"/>
    <wsdl:part name="DropoffTime" type="s:string"/>
    <wsdl:part name="Currency" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByLocationIDHttpGetOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PlaceBookingHttpGetIn">
    <wsdl:part name="AgentCode" type="s:string"/>
    <wsdl:part name="ZoneID" type="s:string"/>
    <wsdl:part name="ZoneCode" type="s:string"/>
    <wsdl:part name="SupplierCode" type="s:string"/>
    <wsdl:part name="PickupLocationID" type="s:string"/>
    <wsdl:part name="DropoffLocationID" type="s:string"/>
    <wsdl:part name="PickupDate" type="s:string"/>
    <wsdl:part name="DropoffDate" type="s:string"/>
    <wsdl:part name="PickupTime" type="s:string"/>
    <wsdl:part name="DropoffTime" type="s:string"/>
    <wsdl:part name="DriverAge" type="s:string"/>
    <wsdl:part name="FlightNumber" type="s:string"/>
    <wsdl:part name="CarCode" type="s:string"/>
    <wsdl:part name="CarDescription" type="s:string"/>
    <wsdl:part name="RateID" type="s:string"/>
    <wsdl:part name="GrossAmount" type="s:string"/>
    <wsdl:part name="DiscountAmount" type="s:string"/>
    <wsdl:part name="Currency" type="s:string"/>
    <wsdl:part name="DriverTitle" type="s:string"/>
    <wsdl:part name="DriverInitial" type="s:string"/>
    <wsdl:part name="DriverLastName" type="s:string"/>
    <wsdl:part name="IsExcessRefundPolicy" type="s:string"/>
    <wsdl:part name="IsOnRequest" type="s:string"/>
    <wsdl:part name="IsConfirmed" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PlaceBookingHttpGetOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ConfirmBookingHttpGetIn">
    <wsdl:part name="BookingNumber" type="s:string"/>
    <wsdl:part name="ConfirmationKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ConfirmBookingHttpGetOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetCountriesHttpPostIn"/>
  <wsdl:message name="GetCountriesHttpPostOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsHttpPostIn">
    <wsdl:part name="CountryID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetLocationsHttpPostOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetSupplierTermsHttpPostIn">
    <wsdl:part name="LocationID" type="s:string"/>
    <wsdl:part name="RateID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetSupplierTermsHttpPostOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByAirportHttpPostIn">
    <wsdl:part name="PickupAirport" type="s:string"/>
    <wsdl:part name="PickupDate" type="s:string"/>
    <wsdl:part name="DropoffDate" type="s:string"/>
    <wsdl:part name="PickupTime" type="s:string"/>
    <wsdl:part name="DropoffTime" type="s:string"/>
    <wsdl:part name="Currency" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByAirportHttpPostOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByTownCityHttpPostIn">
    <wsdl:part name="PickupTownCity" type="s:string"/>
    <wsdl:part name="PickupDate" type="s:string"/>
    <wsdl:part name="DropoffDate" type="s:string"/>
    <wsdl:part name="PickupTime" type="s:string"/>
    <wsdl:part name="DropoffTime" type="s:string"/>
    <wsdl:part name="Currency" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByTownCityHttpPostOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByLocationIDHttpPostIn">
    <wsdl:part name="PickupLocationID" type="s:string"/>
    <wsdl:part name="DropoffLocationID" type="s:string"/>
    <wsdl:part name="PickupDate" type="s:string"/>
    <wsdl:part name="DropoffDate" type="s:string"/>
    <wsdl:part name="PickupTime" type="s:string"/>
    <wsdl:part name="DropoffTime" type="s:string"/>
    <wsdl:part name="Currency" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="CarAvailabilityByLocationIDHttpPostOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="PlaceBookingHttpPostIn">
    <wsdl:part name="AgentCode" type="s:string"/>
    <wsdl:part name="ZoneID" type="s:string"/>
    <wsdl:part name="ZoneCode" type="s:string"/>
    <wsdl:part name="SupplierCode" type="s:string"/>
    <wsdl:part name="PickupLocationID" type="s:string"/>
    <wsdl:part name="DropoffLocationID" type="s:string"/>
    <wsdl:part name="PickupDate" type="s:string"/>
    <wsdl:part name="DropoffDate" type="s:string"/>
    <wsdl:part name="PickupTime" type="s:string"/>
    <wsdl:part name="DropoffTime" type="s:string"/>
    <wsdl:part name="DriverAge" type="s:string"/>
    <wsdl:part name="FlightNumber" type="s:string"/>
    <wsdl:part name="CarCode" type="s:string"/>
    <wsdl:part name="CarDescription" type="s:string"/>
    <wsdl:part name="RateID" type="s:string"/>
    <wsdl:part name="GrossAmount" type="s:string"/>
    <wsdl:part name="DiscountAmount" type="s:string"/>
    <wsdl:part name="Currency" type="s:string"/>
    <wsdl:part name="DriverTitle" type="s:string"/>
    <wsdl:part name="DriverInitial" type="s:string"/>
    <wsdl:part name="DriverLastName" type="s:string"/>
    <wsdl:part name="IsExcessRefundPolicy" type="s:string"/>
    <wsdl:part name="IsOnRequest" type="s:string"/>
    <wsdl:part name="IsConfirmed" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="PlaceBookingHttpPostOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:message name="ConfirmBookingHttpPostIn">
    <wsdl:part name="BookingNumber" type="s:string"/>
    <wsdl:part name="ConfirmationKey" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ConfirmBookingHttpPostOut">
    <wsdl:part name="Body"/>
  </wsdl:message>
  <wsdl:portType name="wwcarsXMLInterfaceSoap">
    <wsdl:operation name="GetCountries">
      <wsdl:input message="tns:GetCountriesSoapIn"/>
      <wsdl:output message="tns:GetCountriesSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <wsdl:input message="tns:GetLocationsSoapIn"/>
      <wsdl:output message="tns:GetLocationsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierTerms">
      <wsdl:input message="tns:GetSupplierTermsSoapIn"/>
      <wsdl:output message="tns:GetSupplierTermsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByAirport">
      <wsdl:input message="tns:CarAvailabilityByAirportSoapIn"/>
      <wsdl:output message="tns:CarAvailabilityByAirportSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByTownCity">
      <wsdl:input message="tns:CarAvailabilityByTownCitySoapIn"/>
      <wsdl:output message="tns:CarAvailabilityByTownCitySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByLocationID">
      <wsdl:input message="tns:CarAvailabilityByLocationIDSoapIn"/>
      <wsdl:output message="tns:CarAvailabilityByLocationIDSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="PlaceBooking">
      <wsdl:input message="tns:PlaceBookingSoapIn"/>
      <wsdl:output message="tns:PlaceBookingSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ConfirmBooking">
      <wsdl:input message="tns:ConfirmBookingSoapIn"/>
      <wsdl:output message="tns:ConfirmBookingSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wwcarsXMLInterfaceHttpGet">
    <wsdl:operation name="GetCountries">
      <wsdl:input message="tns:GetCountriesHttpGetIn"/>
      <wsdl:output message="tns:GetCountriesHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <wsdl:input message="tns:GetLocationsHttpGetIn"/>
      <wsdl:output message="tns:GetLocationsHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierTerms">
      <wsdl:input message="tns:GetSupplierTermsHttpGetIn"/>
      <wsdl:output message="tns:GetSupplierTermsHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByAirport">
      <wsdl:input message="tns:CarAvailabilityByAirportHttpGetIn"/>
      <wsdl:output message="tns:CarAvailabilityByAirportHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByTownCity">
      <wsdl:input message="tns:CarAvailabilityByTownCityHttpGetIn"/>
      <wsdl:output message="tns:CarAvailabilityByTownCityHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByLocationID">
      <wsdl:input message="tns:CarAvailabilityByLocationIDHttpGetIn"/>
      <wsdl:output message="tns:CarAvailabilityByLocationIDHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="PlaceBooking">
      <wsdl:input message="tns:PlaceBookingHttpGetIn"/>
      <wsdl:output message="tns:PlaceBookingHttpGetOut"/>
    </wsdl:operation>
    <wsdl:operation name="ConfirmBooking">
      <wsdl:input message="tns:ConfirmBookingHttpGetIn"/>
      <wsdl:output message="tns:ConfirmBookingHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wwcarsXMLInterfaceHttpPost">
    <wsdl:operation name="GetCountries">
      <wsdl:input message="tns:GetCountriesHttpPostIn"/>
      <wsdl:output message="tns:GetCountriesHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <wsdl:input message="tns:GetLocationsHttpPostIn"/>
      <wsdl:output message="tns:GetLocationsHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierTerms">
      <wsdl:input message="tns:GetSupplierTermsHttpPostIn"/>
      <wsdl:output message="tns:GetSupplierTermsHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByAirport">
      <wsdl:input message="tns:CarAvailabilityByAirportHttpPostIn"/>
      <wsdl:output message="tns:CarAvailabilityByAirportHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByTownCity">
      <wsdl:input message="tns:CarAvailabilityByTownCityHttpPostIn"/>
      <wsdl:output message="tns:CarAvailabilityByTownCityHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByLocationID">
      <wsdl:input message="tns:CarAvailabilityByLocationIDHttpPostIn"/>
      <wsdl:output message="tns:CarAvailabilityByLocationIDHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="PlaceBooking">
      <wsdl:input message="tns:PlaceBookingHttpPostIn"/>
      <wsdl:output message="tns:PlaceBookingHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="ConfirmBooking">
      <wsdl:input message="tns:ConfirmBookingHttpPostIn"/>
      <wsdl:output message="tns:ConfirmBookingHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wwcarsXMLInterfaceSoap" type="tns:wwcarsXMLInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/GetCountries" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="http://tempuri.org/GetLocations" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierTerms">
      <soap:operation soapAction="http://tempuri.org/GetSupplierTerms" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByAirport">
      <soap:operation soapAction="http://tempuri.org/CarAvailabilityByAirport" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByTownCity">
      <soap:operation soapAction="http://tempuri.org/CarAvailabilityByTownCity" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByLocationID">
      <soap:operation soapAction="http://tempuri.org/CarAvailabilityByLocationID" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBooking">
      <soap:operation soapAction="http://tempuri.org/PlaceBooking" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmBooking">
      <soap:operation soapAction="http://tempuri.org/ConfirmBooking" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wwcarsXMLInterfaceHttpGet" type="tns:wwcarsXMLInterfaceHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="GetCountries">
      <http:operation location="/GetCountries"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <http:operation location="/GetLocations"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierTerms">
      <http:operation location="/GetSupplierTerms"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByAirport">
      <http:operation location="/CarAvailabilityByAirport"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByTownCity">
      <http:operation location="/CarAvailabilityByTownCity"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByLocationID">
      <http:operation location="/CarAvailabilityByLocationID"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBooking">
      <http:operation location="/PlaceBooking"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmBooking">
      <http:operation location="/ConfirmBooking"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wwcarsXMLInterfaceHttpPost" type="tns:wwcarsXMLInterfaceHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="GetCountries">
      <http:operation location="/GetCountries"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <http:operation location="/GetLocations"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierTerms">
      <http:operation location="/GetSupplierTerms"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByAirport">
      <http:operation location="/CarAvailabilityByAirport"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByTownCity">
      <http:operation location="/CarAvailabilityByTownCity"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarAvailabilityByLocationID">
      <http:operation location="/CarAvailabilityByLocationID"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceBooking">
      <http:operation location="/PlaceBooking"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmBooking">
      <http:operation location="/ConfirmBooking"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wwcarsXMLInterface">
    <wsdl:port name="wwcarsXMLInterfaceSoap" binding="tns:wwcarsXMLInterfaceSoap">
      <soap:address location="http://www.reservations.wwcars.co.uk/WWCarsOnlineRes/XMLTest/wwcarsXMLInterface.asmx"/>
    </wsdl:port>
    <wsdl:port name="wwcarsXMLInterfaceHttpGet" binding="tns:wwcarsXMLInterfaceHttpGet">
      <http:address location="http://www.reservations.wwcars.co.uk/WWCarsOnlineRes/XMLTest/wwcarsXMLInterface.asmx"/>
    </wsdl:port>
    <wsdl:port name="wwcarsXMLInterfaceHttpPost" binding="tns:wwcarsXMLInterfaceHttpPost">
      <http:address location="http://www.reservations.wwcars.co.uk/WWCarsOnlineRes/XMLTest/wwcarsXMLInterface.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>